.main-container {
    color: #1a1313;
    grid-template-columns:1fr 3fr;
    gap: 2rem;
    background-color: #1e1f26;
}
.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26;
    transition: .3s;
}

.btn:hover {
    background-color: #92601f;
}

.btn-l {
    width: 100%;
    text-align: center;
}

/* sidebar */

.sidebar {
    background: linear-gradient(45deg, rgb(223, 177, 122),rgb(223, 177, 122));
    height: fit-content;
    border-radius: 1rem;
    padding: 2rem 2.5rem;
}

.sidebar-groups {
    margin-bottom: 1rem;
}

.sg-title {
    margin-bottom: .5rem;
    color: #92601f;
}

input {
    margin-bottom: .6rem;
}

input[type=checkbox]:checked {
    accent-color: #cd8c38;
}

input[type=radio]:checked {
    accent-color: #cd8c38;
}

label {
    margin-left: .5rem;
}