@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}

a {
    text-decoration: none;
    color: #000000;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #0e0d0d;
    border-radius: 2rem;
    color: #ffffff;
    transition: .3s;
}

.btn:hover {
    background-color: #050505;
}

.btn-l {
    width: 100%;
    text-align: center;
    color: #050505;
}
.btn-alt {
  background-color: #050505;
}



body {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: none;
    justify-content: space-evenly;
}


/* top bar */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.left-content,
.right-content {
    display: flex;
    align-items: center;
}

.title {
    margin-right: 3rem;
    color: #000000;
    font-size: larger;
    font-style: bold;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-right: 1rem;
}

.navigation li a:hover {
    color: #0b0b0a;
}

.active {
    color: #020202;
}

.filter,
.cart,
.help,
.menu {
    position: relative;
    width: 20px;
    height: 20px;
}

.filter,
.cart,
.help {
    margin-right: 1rem;
}

.menu {
    margin-left: .8rem;
}

.menu {
    display: none;
}

.profile-img-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* movies container */

.upcoming-img-box {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.upcoming-title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #ffffff;
    background-color: #121110;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #070707;
    font-weight: 500;
}

.buttons {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.btn-alt {
    background-color: #010100;
    color: #ffffff;
    border: 1px solid #37f2ff;
    margin-left: 1rem;
}

.btn-alt:hover {
    color: #100f0f;
    background-color: #050505;
}


/* current movies */

.movies-container {
    padding-bottom: 2rem;
}

.current-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.current-movie {
    background: linear-gradient(45deg,rgb(9, 225, 236),rgb(16, 213, 235));
    padding: 1rem;
    border-radius: .5rem;
}

.cm-img-box {
    position: relative;
    height: 250px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.movie-title {
    color: #fff;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.price {
    color: #080808;
}
.footer {
    width: 100%;
    background-color: rgb(6, 250, 250);
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 20px;
  }
  .footer .col h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
    color: #060606;
    text-transform: uppercase;
  }
  .footer .col ul {
    list-style-type: none;
    padding: 0;
  }
  .footer .col ul li {
    color: rgb(255, 250, 250);
    font-size: 12px;
    padding: 5px 0px;
  }
  .address ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    cursor: pointer;
    color: rgb(12, 12, 12);
    font-weight: bold;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .address {
      width: 1000px;
      display: block;
    }
    .address h2 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h2 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  